.venv/
app/assets/schedule_test/calls.jpg
app/assets/schedule_test/friday.jpg
app/assets/schedule_test/monday.jpg
app/assets/schedule_test/thursday.jpg
app/assets/schedule_test/tuesday.jpg
app/assets/schedule_test/wednesday.jpg
app/assets/vov_files/dragomireckiy.jpg
app/assets/vov_files/gorbachev.jpg
app/assets/vov_files/shikunov.jpg
app/assets/vov_files/tolstihin.jpg
app/assets/vov_files/yachmenev.jpg
config.env
*.env
database.db
app/components/logs/logs.log
app/components/logs/bot.log
__pycache__
.vscode/