TG_TOKEN=telegram_bot_token
VK_TOKEN=vk_personal_token
SQLALCHEMY_URL=sqlite+aiosqlite:///./database.db
DEEPSEEK_API=deepseek_api_token
PATH_TO_IMAGES=app/assets/menu/
PATH_TO_NAMING=app/assets/texts/names.json
PATH_TO_LOGS=app/components/logs/
ADMIN_KEY=secret_key
PROXY=http://ip_proxy:port/
